<div class="col-lg-6 d-none d-lg-block bg-login-image2"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-left">
            <h1 class="text-gray-900 mb-1">404</h1>
            <p class="text-gray-900 mb-4">Page Not Found</p>
            <p class="text-gray-900 mb-4">Well, what if there is no webpage? There wasn't one today.</p>
        </div>
        <br><br>
        <div class="text-left">
            <a href="/" class="text-gray-900 mb-0 btn p-2" style="background: cornflowerblue;color:white !important;">Home</a>
        </div>
    </div>
</div>
