<footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <form action="/logout" method="post">
                            <button type="submit" style="border: 0px;outline: 0px;">Logout</button>
                        </form>
                    </li>
                    <li>
                        <a href="" target="_blank"></a>
                    </li>
                    <li>
                        <a href="" target="_blank"></a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright &copy; SMHOS HOME-CELL PORTAL <?php echo date('Y');?>
                </span>
            </div>
        </div>
    </div>
</footer>