
        <!--   Core JS Files   -->
        <script src="/js/core/jquery.min.js"></script>
        <script src="/js/core/popper.min.js"></script>
        <script src="/js/core/bootstrap.min.js"></script>
        <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>

        <!-- DataTable -->
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                $("table").DataTable({
                    order: [0, 'desc']
                });
            });
        </script>

        <!--  Notifications Plugin    -->
        <script src="/js/plugins/bootstrap-notify.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>