<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="/<%= page %>/dashboard" class="simple-text logo-normal">
            <!-- SMHOS -->
            <div class="logo-image-big">
                <img src="/assets/logo.png">
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active ">
                <a href="/<%= page %>/dashboard">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>