<li class="active ">
    <a href="/<%= page %>/dashboard">
        <i class="nc-icon nc-bank"></i>
        <p>Dashboard</p>
    </a>
</li>
<li>
    <a href="/<%= page %>/homecell">
        <i class="nc-icon nc-shop"></i>
        <p>Homecells</p>
    </a>
</li>
<li>
    <a href="/<%= page %>/member">
        <i class="nc-icon nc-shop"></i>
        <p>Members</p>
    </a>
</li>