<li class="active ">
    <a href="/<%= page %>/dashboard">
        <i class="nc-icon nc-bank"></i>
        <p>Dashboard</p>
    </a>
</li>
<li>
    <a href="/<%= page %>/profile">
        <i class="nc-icon nc-shop"></i>
        <p>My Profile</p>
    </a>
</li>