<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-3">
                    <a href="/<%= page %>/add_homecell">
                        <button type="button" class="btn btn-info ml-2">Add Homecell</button>
                    </a>
                </div>
            </div>

            <div class="card-header">
                <h4 class="card-title">Homecells</h4>
                <% if(success){ %>
                    <label style="color: green;"><%= success %></label>
                <% } %>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>Name</th>
                            <th class="text-right">Date</th>
                        </thead>
                        <tbody>
                            <% if(homecells.length > 0){ %>
                                <% homecells.forEach(homecell => { %>
                                    <tr>
                                        <td><%= homecell.name %></td>
                                        <td class="text-right"><%= homecell.date %></td>
                                    </tr>
                                <% }) %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="3">There is no Homecell</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>